{% trans_default_domain 'FOSUserBundle'%}
{% extends 'base.html.twig' %}
{% block title %}Modification Type de groupe{% endblock %}
{% block body %}
<div class="container" style="margin-top :10px">
    <div class="row">
    </div>
    <div class="row">
        <div class="col-xs-1 col-sm-1"></div>
        <div class="col-xs-10 col-sm-10">
            <div class="panel panel-primary">
                <div class="panel-heading text-center"><h1>Modifier un Type de Groupe</h1></div>
                <div class="panel-body">


                    {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                    <input class="btn btn-primary" type="submit" value="Modifier" />
                    {{ form_end(edit_form) }}
                    <a class="btn btn-primary" type="button" href="{{ path('typegroupe_index') }}">Retour à la liste</a>
                </div>

            </div>
        </div>
        <div class="col-xs-1 col-sm-1"></div>
    </div>
</div>
{% endblock %}