{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}
{% block title %}Liste Utilisateurs{% endblock %}
{% block body %}
    <div class="container" style="margin-top :10px">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-xs-1 col-sm-1"></div>
            <div class="col-xs-10 col-sm-10">
                <div class="jumbotron" style="border-style:solid; border-color: grey; background-color: white">
                    <h2>Liste des Commissions</h2>

                    {% for groupe in groupes %}
                        <h3>{{ groupe.nom }} : </h3>
                        <hr>
                        <p>
                            {% for statut in groupe.personneStatuts %}
                                {{ statut.personne.nom }}
                                {{ statut.personne.prenom }}
                                {{ statut.statut.nom }},
                            {% endfor %}
                        </p>
                    {% endfor %}
                </div>

            </div>
        </div>
        <div class="col-xs-1 col-sm-1"></div>
    </div>
{% endblock %}
