
{% extends 'base.html.twig' %}
{% block title %}Ajout Utilisateur{% endblock %}
{% block body %}
<div class="container" style="margin-top :10px">
    <div class="row">
    </div>
    <div class="row">
        <div class="col-xs-1 col-sm-1"></div>
        <div class="col-xs-10 col-sm-10">
            <div class="panel my-panel">
                <div class="panel-heading text-center"><h1>Ajout d'utilisateur</h1></div>
                <div class="panel-body my-panel-body">
                    {% if errorUti == 0 %}
                        <div><p class="bg-danger">Le nom d'utilisateur est déjà utilisé</p></div>
                    {% elseif error == 0 %}
                        <div><p class="bg-danger">Le mail est déjà utilisé</p></div>
                    {% elseif errorUti == 1 %}
                        <div><p class="bg-success">L'utilisateur à été ajouter avec succès</p></div>
                    {% else %}
                    {% endif %}
                    {{ form_start(form) }}
                            {{ form_widget(form) }}
                        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Créer" >
                    {{ form_end(form) }}

                    <a class="btn btn-primary btn-lg btn-block" type="button" href="{{ path('user_index') }}" >Retour à la liste</a>
                </div>

            </div>
        </div>
        <div class="col-xs-1 col-sm-1"></div>
    </div>
</div>
{% endblock %}
