{% extends 'base.html.twig' %}

{% block body %}
    <h1>Centreinterets list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for centreInteret in centreInterets %}
            <tr>
                <td>{{ centreInteret.titre }}</td>
                <td>{{ centreInteret.description }}</td>
                <td>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
