{% extends 'base.html.twig' %}

{% block body %}
    <h1>Centreinterets list</h1>

    <table>
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>{{ centreInteret.titre }}</td>
                <td>{{ centreInteret.description }}</td>
                {% if not centreInteret.photos is empty %}
                    {% for unePhoto in centreInteret.photos %}
                            <td><img src=" {{ asset('uploads/') }}{{ unePhoto.lienPhoto }}" style="width: 50px;height:50px" /></td>
                    {% endfor %}
                {% endif %}
            </tr>
        </tbody>
    </table>


{% endblock %}
